---
import Layout from "../layouts/Layout.astro";
import headline from "../images/headline.svg";
---

<Layout title="Loam | Grow Ambitious Dapps">
  <main>
    <h2>
      <img src={headline} alt="Loam helps you build ambitious dapps." />
    </h2>
    <section>
      <p>
        Automatic, gorgeous smart contract explorer <a href="/admin">for NEAR.</a> Coming soon to CosmWasm and Soroban.
      </p>
      <p>
        Made by <a href="https://AhaLabs.dev">Aha Labs.</a>
      </p>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0 1.25rem;
    max-width: 80ch;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  h2 {
    margin: 4rem auto 4rem;
  }
  h2 img {
    width: 30rem;
    max-width: 100%;
  }

  section {
    --img-height: 427px;
    --img-width: 168px;
    background-image: url(../images/twoMushrooms.svg);
    background-position: top right;
    background-size: calc(min(20%, var(--img-width)));
    background-repeat: no-repeat;
    flex: 1;
  }
  section p {
    width: 66%;
    max-width: 18em;
  }
</style>
