---
import Layout from "../layouts/Layout.astro";
import headline from "../images/headline.svg";
import mockup from "../images/page-mockup.jpg";
import shrooms2 from "../images/twoMushrooms.svg";
---

<Layout title="Loam | Grow Ambitious Dapps">
  <main>
    <h2>
      <img src={headline} alt="Loam helps you build ambitious dapps." />
    </h2>
    <section>
      <p>
        Automatic, gorgeous smart contract explorer <a href="/admin">for NEAR.</a> Coming soon to CosmWasm and Soroban.
      </p>
      <img src={shrooms2} alt="">
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0 1.25rem;
    max-width: 80ch;
  }
  h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5rem 0 7rem;
    z-index: 2;
    position: relative;
  }
  @media(min-width: 450px) {
    h2 {
      padding: 0 1em;
    }
  }

  section {
    --img-height: 427px;
    --img-width: 168px;
    display: flex;
    justify-content: space-between;
    min-height: var(--img-height);
    align-items: flex-start;
    padding: 0 5vw;
  }
  section p {
    width: 66%;
    max-width: 18em;
  }
  section img {
    width: 20%;
    max-width: var(--img-width);
  }
</style>
