---
import Layout from "../layouts/Layout.astro";
import headline from "../images/headline.svg";
import mockup from "../images/page-mockup.jpg";
---

<Layout title="Loam | Grow Ambitious Dapps">
	<main>
    <h2>
      <img src={headline} alt="Loam helps you build ambitious dapps." />
    </h2>
    <img src={mockup} alt="" style="width: 100%" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 0 1.25rem;
		max-width: 80ch;
		text-align: center;
	}
	h2 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
	}
  @media(min-width: 450px) {
    h2 {
      padding: 0 1em;
    }
  }
</style>
