---
import Layout from "../layouts/Layout.astro";
import headline from "../images/headline.svg";
import twoMushrooms from "../images/twoMushrooms.svg";
import Why from "./why.md";
---

<Layout title="Loam | Grow Ambitious Dapps">
    <main>
        <div class="banner">
            <h2>
                <img
                    src={headline}
                    alt="Loam helps you build ambitious dapps."
                />
            </h2>
            <section class="intro">
                <div>
                    <p>
                        Focus on the important parts of your <a
                            href="https://soroban.stellar.org/">Soroban</a
                        > app. Let Loam handle the tedious bits.
                    </p>
                    <p>
                        Made by <a
                            href="https://ahalabs.dev"
                            rel="noopener noreferrer">Aha Labs</a
                        >.
                    </p>
                </div>
                <img src={twoMushrooms} alt="" />
            </section>
        </div>
        <section>
            <Why />
        </section>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 0 1.25rem;
        max-width: 50ch;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    h2 {
        margin: 4rem auto 0;
    }
    h2 img {
        width: 30rem;
        max-width: 100%;
    }

    .banner {
        color: var(--yellow);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .intro {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .intro img {
        width: 25%;
    }
    .intro div {
        width: 66%;
        max-width: 18em;
    }
    .intro div p:first-child {
        margin-top: 4rem;
    }
</style>
