---
export interface Props {
	title: string;
}
import icons from "../images/icons.svg"
import logo from "../images/LogoWDropShadow.svg";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <nav>
      <img src={icons} alt="" />
    </nav>
    <h1>
      <img src={logo} alt="LOAM" />
    </h1>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
    font-size: 14px;
		font-family: system-ui, sans-serif;
    background-color: rgb(37, 44, 31);
    background-image: url(../images/mycelium.png);
    background-size: calc(max(100%, 1920px));
    background-repeat: no-repeat;
	}
  @media (min-width: 420px) {
    html {
      font-size: 16px;
    }
  }
	body {
    margin: 0;
	}
  nav {
    background-color: rgba(66, 82, 57, 0.29);
    display: flex;
    justify-content: flex-end;
    padding: 1.25em;
    overflow: visible;
  }
  nav img {
    height: 2em;
  }
	h1 {
    --height: 3.25rem;
		margin: 0;
		margin-top: calc(-0.5 * var(--height));
    padding: 0 1.25rem;
	}
  h1 img {
    height: var(--height);
  }
  @media(min-width: 420px) {
    h1 {
      --height: 4rem;
    }
  }
  @media(min-width: 800px) {
    h1 {
      --height: 5rem;
      text-align: center;
    }
  }
</style>
