---
export interface Props {
  title: string;
}
import logo from "../images/LogoWDropShadow.svg";
import github from "../images/github.svg";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="https://github.com/loambuild">
        <img src={github} alt="GitHub" />
      </a>
    </nav>
    <h1>
      <img src={logo} alt="LOAM" />
    </h1>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
  :root {
    --yellow: rgb(224, 189, 63);
    --shadow: rgba(66, 82, 57, 0.29);
    --maroon: #7c3d24;
    --darkest-green: rgb(37, 44, 31);
    --dark-green: #425239;
    --light-green: #8db73f;
    --lavendar: #a39dae;
    --fg: white;
    --gray: var(--lavendar);
  }
  html {
    color: var(--fg);
    font-size: 18px;
    font-family: Quicksand, system-ui, sans-serif;
    background-color: var(--darkest-green);
    background-image: url(../images/mycelium.png);
    background-size: calc(max(100%, 1920px)) 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--yellow);
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
  @media (min-width: 420px) {
    html {
      font-size: 22px;
    }
  }
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  a {
    color: var(--gray);
    text-decoration: none;
  }
  a:focus,
  a:hover {
    border-bottom: 1px solid var(--yellow);
  }
  button,
  .button {
    background: transparent;
    border-radius: 100em;
    border: 4px solid var(--yellow);
    color: var(--fg);
    cursor: pointer;
    font: inherit;
    padding: 0.5em 1em;
    position: relative;
    transition: transform 50ms;
  }
  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    background: var(--yellow);
    color: var(--darkest-green);
    transform: translateY(-1px);
  }
  button:active,
  .button:active {
    transform: translateY(3px);
  }
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    overflow: visible;
  }
  nav img {
    height: 1em;
  }
  nav a {
    opacity: 0.4;
    margin-left: 0.75em;
    border-bottom: 1px solid transparent;
  }
  h1 {
    --height: 3.25rem;
    margin: 0;
    text-align: center;
  }
  h1 img {
    height: var(--height);
  }
  @media (min-width: 420px) {
    h1 {
      --height: 3.75rem;
    }
  }
  @media (min-width: 800px) {
    h1 {
      --height: 4.5rem;
    }
  }
</style>
